/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffFFF;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #9EC4E6;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

h1 {
	font-family: 'Josefin Sans', sans-serif !important;
}

h2 {
	font-family: 'Josefin Sans', sans-serif !important;
}

h3 {
	font-family: 'Josefin Sans', sans-serif !important;
}

h4 {
	font-family: 'Josefin Sans', sans-serif !important;
}

h5 {
	font-family: 'Josefin Sans', sans-serif !important;
}

p {
	font-family: 'Mulish', sans-serif;
}

em {
	font-family: 'Mulish', sans-serif;
}

li {
	font-family: 'Mulish', sans-serif;
}

.body-font {
	font-family: 'Mulish', sans-serif;
}

a {
 	font-family: 'Mulish', sans-serif;
}

li {
	font-family: 'Mulish', sans-serif;
}

.image-padding {
	padding-top: 50px;
	margin-bottom: -10px !important;
}

.footer-background {
	background-color: #9EC4E6 !important;
}

.border-bottom {
	border-bottom: 2px solid #FF871D !important;
}

.button-background {
	background-color: #FF871D !important;
	border: 1px solid #9EC4E6 !important;
}

.background-header {
	background-color: #5DA6E7;
}

.button-background-alt {
	background-color: #FFBA01 !important;
}

.corporate-header {
	background-color: #FFBA01 !important;
}

.margin-landing {
	margin-left: 75px;
	margin-right: 75px;
	margin-top: 25px;
}

.background-secondary {
	background-color: #FDF1D0;
}


.background-landing {
  background-image: url("../images/unbeaklandingimage.jpg") !important;
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;

}

.landing-padding {
	padding-bottom: 250px;
}

.footer-image {
	width: 60px;
	padding-bottom: 15px;
}

.about-header-image {
	width: 500px !important;
	margin-top: 50px !important;
}

.about-margin {
	margin: 10px !important;
}

.about-image {
	width: 300px;
}

.team-margin {
	margin-bottom: 50px !important;
}


.btn-primary {
	background-color: #ffba01 !important;
	border-color: #595959 !important;
	color: #000000	!important;
	font-family: 'Josefin Sans', sans-serif !important;
}

.visual-image {
	max-width: 400px !important;
	width: 100% !important;
	padding-top: 50px !important;
}

.footer-logo-padding {
	padding-top: 20px;
}

.footer-logo-width {
	width: 40px;
}

.align-left {
	text-align: left !important;
}

.about-subtitle {
	margin-bottom: 30px;
}

.customize-margin {
	margin-top: 50px !important;
}

.customize-padding {
	padding-bottom: 200px !important;
}

.visual-padding {
	padding-top: 20px !important;
}

.visual-margin {
	margin-bottom: 50px !important;
}

.visual-header {
	margin-top: 50px !important;
	margin-bottom: 25px !important;
	width: 600px
}

.home-image {
	width: 250px;
	padding-left: 12px;
}

.vulnerability-allign {
	float: left;
}

.equan-allign {
	float: right;
}

.balance-allign {
	float:left;
}

.team-image {
	width: 200px;
	padding-top: 20px;
	padding-bottom: 25px;
}

.custom-image {
	width: 500px;
}

.bottom-padding {
	margin-top: 50px;
}

.about-image-size {
	width: 300px;
}

.privacy-header {
	margin-top: 50px;
}

.privacy-margin {
	margin-top: 10px;
}

.privacy-margin-bottom {
	margin-bottom: 50px;
}

.privacy-list {
	margin-left: 25px;
}

.about-h2 {
	padding-top: 25px;
}

.funding-header-image {
	padding-top: 25px;
	padding-bottom: 50px;
	width: 750px;
}

.funding-image {
	padding-top: 10px !important;
	max-width: 400px !important;
	width: 100%;
}

.funding-button {
	padding-top: 50px;
	padding-bottom: 25px;
}

.donate-margin {
	margin-top: 100px !important;
}

.donate-padding {
	padding-bottom: 250px !important;
}


@media screen and (max-width: 767px){
	.card-wrapper img{
		float: left
	}
}

.fundus-image {
	width: 400px;
}

.product-image {
	width: 500px;
}