/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');

/* Changing the main font and background colour */

body {
	font-family: Raleway, sans-serif;
	background-color: #fffcf8;
}

/* Changing the background colour for the header */

header {
	background-color: #000060;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #9EC4E6;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #800000;
	font-weight: bold;
}

h1 {
	font-family: 'Josefin Sans', sans-serif !important;
}

h2 {
	font-family: 'Josefin Sans', sans-serif !important;
}

h3 {
	font-family: 'Josefin Sans', sans-serif !important;
}

h4 {
	font-family: 'Josefin Sans', sans-serif !important;
}

h5 {
	font-family: 'Josefin Sans', sans-serif !important;
}

p {
	font-family: 'Mulish', sans-serif;
}

.body-font {
	font-family: 'Mulish', sans-serif;
}

a {
 	font-family: 'Mulish', sans-serif;
}

li {
	font-family: 'Mulish', sans-serif;
}

.image-padding {
	padding-top: 50px;
	margin-bottom: -10px !important;
}

.footer-background {
	background-color: #9EC4E6 !important;
}

.border-bottom {
	border-bottom: 2px solid #FF871D !important;
}

.button-background {
	background-color: #FF871D !important;
	border: 1px solid #9EC4E6 !important;
}

.background-header {
	background-color: #5DA6E7;
}

.button-background-alt {
	background-color: #FFBA01 !important;
}

.corporate-header {
	background-color: #FFBA01 !important;
}
